<a href="https://colab.research.google.com/github/mequanent/HCC-2022/blob/main/HCC-Project_110761504.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Clone the repository first using the following command
!npx degit https://github.com/mequanent/HCC-2022 -f

npx: installed 1 in 1.056s
> destination directory is not empty. Using --force, continuing
> cloned mequanent/HCC-2022#HEAD

# Dataset source: http://jmcauley.ucsd.edu/data/amazon/ 
(Amazon product data: Digital Music section)
(64,706 reviews)

JSON FORMATS
a. reviewerID - ID of the reviewer, e.g. A2SUAM1J3GNN3B
b. asin - ID of the product, e.g. 0000013714
reviewerName - name of the reviewer
c. helpful - helpfulness rating of the review, e.g. 2/3
d.reviewText - text of the review
e. overall - rating of the product
f. summary - summary of the review
g. unixReviewTime - time of the review (unix time)
h. reviewTime - time of the review (raw)

CSV FORMATS
user,item,rating,timestamp

In [2]:

# To uplaoad a data from local path
from google.colab import files
import numpy as np
import pandas as pd

#uploaded = files.upload() # Uncomment this line incase data not uploaded before

# After uploading we can access our file as follows.
music_rating = pd.read_csv("ratings_Digital_Music.csv", names =['reviewerId', 'asin', 'overall', 'reviewTime'])
music_data = pd.read_json("Digital_Music_5.json", lines=True) # to read from a dictionary of files

In [15]:
music_rating.head(5)

       reviewerId        asin  overall  reviewTime
0  A2EFCYXHNK06IS  5555991584      5.0   978480000
1  A1WR23ER5HMAA9  5555991584      5.0   953424000
2  A2IR4Q0GPAFJKW  5555991584      4.0  1393545600
3  A2V0KUVAB9HSYO  5555991584      4.0   966124800
4  A1J0GL9HCA7ELW  5555991584      5.0  1007683200

In [4]:
music_data.head(2)

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A3EBHHCZO6V2A4,5555991584,"Amaranth ""music fan""","[3, 3]","It's hard to believe ""Memory of Trees"" came ou...",5,Enya's last great album,1158019200,"09 12, 2006"
1,AZPWAXJG9OJXV,5555991584,bethtexas,"[0, 0]","A clasically-styled and introverted album, Mem...",5,Enya at her most elegant,991526400,"06 3, 2001"

In [7]:
music_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64706 entries, 0 to 64705
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   reviewerID      64706 non-null  object
 1   asin            64706 non-null  object
 2   reviewerName    64529 non-null  object
 3   helpful         64706 non-null  object
 4   reviewText      64706 non-null  object
 5   overall         64706 non-null  int64
 6   summary         64706 non-null  object
 7   unixReviewTime  64706 non-null  int64
 8   reviewTime      64706 non-null  object
dtypes: int64(2), object(7)
memory usage: 4.4+ MB

In [17]:
music_data.reviewerID.value_counts() # How many unique reviewers are there.

A9Q28YTLYREO7     578
A3HU0B9XUEVHIM    375
A3KJ6JAZPH382D    301
A3C6ZCBUNXUT7V    261
A8IFUOL8S9BZC     256
                 ...
A3MHB30XYTWSIC      5
AAQ992EC4K6U8       5
A26DPJ5DLJOT2O      5
A2H22I2RWE0HOV      5
ASOK6X7HSN7S9       5
Name: reviewerID, Length: 5541, dtype: int64

In [18]:
len(music_data.asin.unique())

3568

In [13]:
music_data.asin.value_counts() # How many total apps are there in the dataset

B0007NFL18    272
B000084T18    271
B00006690F    204
B00004T9UF    202
B00005YW4H    190
             ...
B0002OOUS2      5
B0002XEDJE      5
B00064183I      5
B00064AEJM      5
B00KILDVEI      5
Name: asin, Length: 3568, dtype: int64

In [ ]:
meta_music_data = pd.read_json("meta_Digital_Music.json", lines=True)