<a href="https://colab.research.google.com/github/mequanent/HCC-2022/blob/main/HCC-Project_110761504.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Clone the repository first using the following command
!npx degit https://github.com/mequanent/HCC-2022 -f

npx: installed 1 in 1.056s
> destination directory is not empty. Using --force, continuing
> cloned mequanent/HCC-2022#HEAD

# Dataset source: http://jmcauley.ucsd.edu/data/amazon/ 
(Amazon product data: Apps for Android section)
(752,937 reviews)

JSON FORMATS
a. reviewerID - ID of the reviewer, e.g. A2SUAM1J3GNN3B
b. asin - ID of the product, e.g. 0000013714
reviewerName - name of the reviewer
c. helpful - helpfulness rating of the review, e.g. 2/3
d.reviewText - text of the review
e. overall - rating of the product
f. summary - summary of the review
g. unixReviewTime - time of the review (unix time)
h. reviewTime - time of the review (raw)

CSV FORMATS
user,item,rating,timestamp

In [9]:

# To uplaoad a data from local path
from google.colab import files

import numpy as np
import pandas as pd

np.set_printoptions(suppress=True) # Suppress displaying the scientific notation
#uploaded = files.upload() # Uncomment this line incase data not uploaded before

# After uploading we can access our file as follows.
#android_rating = pd.read_csv("ratings_Apps_for_Android.csv")
android_data = pd.read_json("Apps_for_Android_5.json", lines=True) # to read from a dictionary of files
#meta_android_data = pd.read_json("meta_Apps_for_Android.json", lines=True) 
#digital_music = pd.read_json("Digital_Music_5.json", lines = True)
#meta_android_data.head(2)

In [ ]:
digital_music = pd.read_json("Digital_Music_5.json", lines = True)

In [ ]:
android_data.head(4)

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A1N4O8VOJZTDVB,B004A9SDD8,Annette Yancey,"[1, 1]","Loves the song, so he really couldn't wait to ...",3,Really cute,1383350400,"11 2, 2013"
1,A2HQWU6HUKIEC7,B004A9SDD8,"Audiobook lover ""Kathy""","[0, 0]","Oh, how my little grandson loves this app. He'...",5,2-year-old loves it,1323043200,"12 5, 2011"
2,A1SXASF6GYG96I,B004A9SDD8,Barbara Gibbs,"[0, 0]",I found this at a perfect time since my daught...,5,Fun game,1337558400,"05 21, 2012"
3,A2B54P9ZDYH167,B004A9SDD8,"Brooke Greenstreet ""Babylove""","[3, 4]",My 1 year old goes back to this game over and ...,5,We love our Monkeys!,1354752000,"12 6, 2012"

In [ ]:
digital_music.head(2)

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A3EBHHCZO6V2A4,5555991584,"Amaranth ""music fan""","[3, 3]","It's hard to believe ""Memory of Trees"" came ou...",5,Enya's last great album,1158019200,"09 12, 2006"
1,AZPWAXJG9OJXV,5555991584,bethtexas,"[0, 0]","A clasically-styled and introverted album, Mem...",5,Enya at her most elegant,991526400,"06 3, 2001"

In [ ]:
digital_music.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64706 entries, 0 to 64705
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   reviewerID      64706 non-null  object
 1   asin            64706 non-null  object
 2   reviewerName    64529 non-null  object
 3   helpful         64706 non-null  object
 4   reviewText      64706 non-null  object
 5   overall         64706 non-null  int64
 6   summary         64706 non-null  object
 7   unixReviewTime  64706 non-null  int64
 8   reviewTime      64706 non-null  object
dtypes: int64(2), object(7)
memory usage: 4.4+ MB

In [ ]:
data = pd.read_csv("AWARE_Comprehensive.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11321 entries, 0 to 11320
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   domain       11321 non-null  object
 1   app          11321 non-null  object
 2   review_id    11321 non-null  object
 3   sentence_id  11321 non-null  object
 4   title        11321 non-null  object
 5   review       11321 non-null  object
 6   sentence     11321 non-null  object
 7   rating       11321 non-null  int64
 8   is_opinion   11321 non-null  bool
 9   category     10601 non-null  object
 10  term         6824 non-null   object
 11  from         6825 non-null   float64
 12  to           6825 non-null   float64
 13  sentiment    10601 non-null  object
dtypes: bool(1), float64(2), int64(1), object(10)
memory usage: 1.1+ MB

In [ ]:
data.review_id.value_counts() # How many unique reviewers are there. 
len(data.sentence.unique())

10291

In [ ]:
data.app.value_counts() # How many total apps are there in the dataset

whatsapp-messenger              706
free-tone-calling-texting       705
discord                         700
evernote-notes-organizer        697
microsoft-word                  696
gmail-email-by-google           696
among-us-                       695
notability                      694
homescapes                      689
minecraft                       679
monopoly                        675
heads-up                        671
subway-surfers                  671
facebook                        664
things-3                        616
forest-stay-focused             447
teamspeak-3                     412
threema-the-secure-messenger    208
Name: app, dtype: int64